# Node FIles
node_modules/

# Database files
Storage/db/db.sqlite
Storage/db/db.sqlite-shm
Storage/db/db.sqlite-wal

# Lavalink Logs
Storage/lavalink/logs

# Config File
config.json

# Irritating file create by Mac
.DS_Store
